@{
    ViewData["Title"] = "Patients List";
    
}



<div class="container mt-5">
    <h2 class="text-center">Patients List</h2>
    <table id="patientsTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date Registration</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mb-3">Back</a>
</div>

@section Scripts {
   
    <script>
        $(document).ready(function () {
            $('#patientsTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Admin/GetPatients",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name", "name": "Name", "autoWidth": true },
                    { "data": "email", "name": "Email", "autoWidth": true },
                    { "data": "phone", "name": "Phone", "autoWidth": true },
                    {
                        "data": "dateRegisteration", "name": "DateRegisteration", "autoWidth": true,
                        "render": function (data) {
                            return moment(data).format('MM/DD/YYYY');
                        }
                    },
                    { "data": "description", "name": "Description", "autoWidth": true }
                ],

                "dom": 'Bfrtip',
                //  "language": {
                //     "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/ar.json" 
                // },
                "buttons": [
                    {
                        extend: 'copyHtml5',
                        title: 'Patients List'
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Patients List'
                    },
                    {
                        extend: 'csvHtml5',
                        title: 'Patients List'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Patients List',
                        orientation: 'landscape',
                        pageSize: 'A4'
                    },
                    {
                        extend: 'print',
                        title: 'Patients List'
                    }
                ]
            });
        });
    </script>
}

